## Generic exclusions
# System files
.DS_Store
*.asv
*~
*.tmp

# Python optimization leftovers
__pycache__/
*.py[cod]
*$py.class

# Left by RStudio
.Rhistory

# Avoid pre-rendered HTML pages bc they're generated on the fly
*.html